.js .tabs {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 64px;
}

.js .tabs a {
  text-decoration: none;
}

.js .tabs li {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.js .active-tab {
  background: #fff !important;
}

.js .active-panel {
  display: block !important;
}

.js .panel {
  display: none;
}
